*{
    margin: -8;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: white;
}
#icone{
    border-radius: 50%;
}
#bodystyle{
    background-color: white;
}
body{
    overflow-x: hidden;
}

#zer0{
    width: 103%;
    height: 80px;
    background-color: black;
    margin-left: -8px;
    margin-top: -22px;
}
#zer0 img{
    width: 300px;
    left: 280%;
    position: absolute;
    margin-top: 70px;
}
#zer0 *{
    color: white;
    font-size: 18px;
    transition: 500ms ease 100ms;
    margin-top: 20px;
    font-weight: bold;
}
#zer0 ul{
    display: flex;
    padding-left: 100px;
    width: 200px;
    position: relative;
    top: 20px;
}
#zer0  ul li{
    list-style-type: none;
    padding-right: 70px;
}

#zero1{
    width: 104%;
    height: 1200px;
    background-color: white;
    margin-left: -8px;
}
#foto1 img{
    position: absolute;
    left: 25%;
    object-fit: cover;
    width: 330px;
    margin-top: 190px;
}
.eminem{
    width: 103%;
    margin-left: -8px;
    height: 700px;
    background-image: url(../img/back3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

#endereco1 p{
    font-size: 32px;
    padding-left: 10%;
    position: absolute;
    margin-top: -600px;
    color: white;
}
#endereco2 p{
    font-size: 16px;
    padding-left: 10%;
    position: absolute;
    margin-top: -455px;
    color: white;
}
#endereco3 p{
    font-size: 16px;
    padding-left: 10%;
    margin-top: -415px;
    position: absolute;
    color: white;
}
#endereco4 p{
    font-size: 16px;
    padding-left: 10%;
    margin-top: -375px;
    position: absolute;
    color: white;
}
#endereco5 p{
    font-size: 16px;
    padding-left: 10%;
    margin-top: -335px;
    position: absolute;
    color: white;
}

#cookie1 p{
    font-size: 16px;
    padding-left: 9%;
    margin-top: -80px;
    position: absolute;
    color: white;

}
#cookie2 p{
    font-size: 16px;
    padding-left: 9%;
    margin-top: -50px;
    position: absolute;
    color: white;

}

#fale p{
    font-size: 32px;
    padding-left: 40%;
    position: absolute;
    margin-top: -600px;
    color: white;
}

#novidade p{
    font-size: 32px;
    padding-left: 75%;
    position: absolute;
    margin-top: -800px;
    color: white;
}
#emails p{
    font-size: 16px;
    padding-left: 75%;
    position: absolute;
    margin-top: -660px;
    color: white;
}

.contato{
 
    padding: 100px 0;
    font-family: 'Open Sans', sans-serif;
    
}
.w60{
    width: 80%;
    float: left;
}

.w40{
    width: 40%;
    float: left;
}

#ctt{
    color: rgb(0, 0, 0);
    left: 30%;
    position: absolute;
    top: -5px;
}

#ctt2{ 
    color: rgb(0, 0, 0);
    text-align: center;
}
.material-symbols-outlined{
    color: white;
}
.inf{
    color: white;
}
.formulario{
    background: #10122000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 24px;
    margin-top: -600px;
    padding-left: 40%;
    position: absolute;
}

.formulario form{
    margin-top: 10px;
    position: absolute;

}

.button_form{
    width: 200px;
    height: 50px;
    background-color: white;
    font-size: 27px;
    display: inline-block;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-color: #ffffff00;

}

.formulario input[type=text],
.formulario input[type=email]{
    width: 130%;
    height: 50px;
    margin-bottom: 15px;
    font-size: 15px;
    border-color: #ffffff00;
}

.formulario input[type=text]:hover,
.formulario input[type=email]:hover{
    margin-bottom: 15px;
    font-size: 15px;
    border-color: #000000;
}
.formulario textarea
{
    width: 120%;
    height: 105px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 15px;

    border-color: #ffffff00;

}
.formulario textarea:hover
{
    border-color: #000000;

}
.formulario1{
    background: #10122000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 24px;
    margin-top: -730px;
    padding-left: 75%;
    position: absolute;
}

.formulario1 form{
    margin-top: 10px;
    position: absolute;

}

.button_form{
    width: 200px;
    height: 50px;
    background-color: white;
    font-size: 27px;
    display: inline-block;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-color: #ffffff00;

}

.formulario1 input[type=text],
.formulario1 input[type=email]{
    width: 130%;
    height: 50px;
    margin-bottom: 15px;
    font-size: 15px;
    border-color: #ffffff00;
}

.formulario1 input[type=text]:hover,
.formulario1 input[type=email]:hover{
    margin-bottom: 15px;
    font-size: 15px;
    border-color: #000000;
}
.formulario1 textarea
{
    width: 120%;
    height: 105px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 15px;

    border-color: #ffffff00;

}
.formulario1 textarea:hover
{
    border-color: #000000;

}